.title {
    display: flex;
    margin-top: 10px;
    margin-bottom: 40px;
    justify-content: center;
}

.row {
    margin-top: 30px;
    margin-bottom: 20px;
}

.spanText {
    display: flex;
    margin-top: 10px;
    justify-content: center;
}


/* .pStyle {
    display: flex;
} */

.inputGroup {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.inputRow {
    display: flex;
}

.input {
    margin-left: 10px;
}

.spanList {
    display: flex;
    align-items: center;
}